.apartment-banner {
    line-height: 0;
    position: relative;
    margin-bottom: var(--spacing-xl);

    .container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        color: var(--white);
        line-height: 1.2;
        display: flex;
        align-items: center;
    }

    h1 {
        color: var(--white);
        font-size: 2.5rem;
        margin: 0;
    }

    .banner-content {
        max-width: 600px;
    }
}

.apartment-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}