.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  text-transform: uppercase;
}

.logo:hover {
  text-decoration: none;
}

.logo-title {
  font-size: 1.1rem;
  line-height: 1;
  text-align: center;
}

.logo-subtitle {
  font-size: .7rem;
}