.user-guide-section {
    padding: var(--spacing-md);
    margin: var(--spacing-xl) auto;
    text-align: center;
    background-color: white;
    border: 1px solid var(--border);
    border-radius: var(--radius);

    @media (min-width: 769px) {
        padding: var(--spacing-xl);
    }

    .tab-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        @media (min-width: 769px) {
            grid-template-columns: 1fr 1fr;
            gap: 80px;
        }
    }

    ul li {
        list-style-type: number;
        list-style-position: inside;
        margin-bottom: 10px;
    }

    :global(.text-slider-dots),
    :global(.image-slider-dots) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    :global(.image-slider) {
        padding-bottom: 20px;
    }
}

.user-guide-footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    padding: var(--spacing-md);
    background-color: #f9f9f9;
    border-radius: var(--radius);
    border: 1px solid var(--border);

    @media (min-width: 769px) {
        grid-template-columns: repeat(3, 1fr);
        padding: var(--spacing-xl);
        gap: var(--spacing-xl);
    }

    h3 {
        color: black;
        font-size: 1rem;

        svg {
            margin-right: 8px;
        }
    }

    ul {
        list-style-position: inside;
        font-size: 0.9rem;
    }
}

.user-guide-footer-item {
    border-bottom: 1px solid var(--border);

    &:last-child {
        border-bottom: none;
    }

    @media (min-width: 769px) {
        border-right: 1px solid var(--border);
        border-bottom: none;

        &:last-child {
            border-right: none;
        }
    }


    a {
        display: inline-block;
        margin-top: 10px;
    }
}