:root {
  --main-font: "Work Sans", sans-serif;
  --secondary-font: "Newsreader", serif;

  --heading-font: var(--secondary-font);

/* Spacing scale */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --spacing-sm-r: 10px;
  --spacing-md-r: 14px;
  --spacing-lg-r: 16px;
  --spacing-xl-r: 24px;

  /*sections spacing*/
  --section-padding: 30px;

  /* colors */
  --white: #fff;
  --orange: #f97316;
  --gray-200: #E9E8E7;
  --gray-500: #8F8F8F;
  --gray-700: #5C5C5C;
  --gray-900: #333333;
  --bg-btn-primary: #253a32;
  --border: #e5e4e7;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  font: 16px/145% var(--main-font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* breakpoints */
  --bp-sm: 480px;
  --bp-md: 769px;
  --bp-lg: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 1rem;
  color: var(--gray-700);
}

#root {
  width: 100%;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  color: var(--gray-900);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
	margin: 0 0 var(--spacing-sm);
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 var(--spacing-md);
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  text-decoration: none;
  background-color: var(--bg-btn-primary);
  color: var(--white);
  padding: var(--spacing-sm) var(--spacing-lg);
}

