.events-banner {
	position: relative;
	.container {
		position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        color: var(--white);
        line-height: 1.2;
        display: flex;
        align-items: center;
	}

	.banner-content {
		max-width: 600px;
	}

	h1 {
		color: var(--white);
		margin: 0;
		font-size: 2.5rem;
	}
}

.events-section .section-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--spacing-sm);
	margin-bottom: var(--spacing-lg);
}

.events-section .section-header-content {
	max-width: 440px;
}

.events-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-lg);

	@media (min-width: 769px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.events-section-content {
	margin-top: var(--spacing-xl);
	@media (min-width: 769px) {
		display: grid;
		gap: var(--spacing-xl);
		grid-template-columns: 2fr 1fr;
	}
}

.events-section-main {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
}

.events-section-main .tabs {
	margin-top: 0;

	@media (min-width: 769px) {
		justify-content: flex-start;
	}
}

.events-section-sidebar {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xl);
	margin-top: var(--spacing-xl);

	@media (min-width: 769px) {
		margin-top: 0;
	}
}

.events-section-sidebar-reservation,
.events-section-sidebar-past-events {
	background-color: #f9f9f9;
	border-radius: var(--radius);
	border: 1px solid var(--border);
	padding: var(--spacing-xl);
}

.events-section-sidebar-reservation-icon {
	background-color: var(--green-900);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	color: #fff;
}

.events-section-sidebar-reservation-button {
	margin-top: var(--spacing-md);
	display: inline-block;

	svg {
		margin-left: 5px;
	}
}
